.profImg {
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  /* Makes it black and white */
  /* filter: grayscale(100%); */


  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* .imageRow {
  height: 100px;
} */


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.containerAbout {
  border: brown solid 10px;
  /* width: 13rem; */
}

.containerAbout:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* overflow: scroll; */
}

.aboutUsJumbotron{
  background-color: #ffc106;
}

.imageName {
  font-size: 1.5em;
}

.bottomSpace {
  margin-top: 100px;
  /* height: 200px; */
  display: block;
  width: auto;
  margin-left: 50%;
}

.starring {
  text-align: center;
}
