


.App {
  text-align: center;
}


.body {
  background-color: cornsilk;
  font-family: 'Playfair Display', serif;
  /* height: auto; */
  /* width: 960px; */
}
.profileJumbotron{
  background-color: #189AAA;
}


